<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Users</h1>        
  </div>
</section>
<br>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="ring">      
      <hr>
      <div *ngIf="users">
        <div class="row ">
          <div *ngFor="let user of users " class="col-md-4">
            <div class="card mb-4 box-shadow ">
              <div class="card-body">
                <h5 class="card-title">Name: {{user.name}}</h5>
                <p class="card-text">Username: {{user.username}}</p>
                <p class="card-text">Email: {{user.email}}</p>
                <button type="button" *ngIf="!authService.loggedIn()" class="btn customStyle btn-lg btn-block" [routerLink]="['/login']">Shop</button>
                <div class="row" *ngIf="authService.loggedIn() && authService.userRole()">
                  <div class="col-xs-12 col-md-6">
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onEditUser(user)">Edit</button>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="onDeleteUser(user)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    
    </div>
  </div>
</div>